In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv(r"C:\Users\nitisha.reddy\Documents\Intellipaat\Datasets\Movie_recommendation\Movie_main_data_final.csv")

In [12]:
data.head()

,Unnamed: 0,Unnamed: 0.1,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,0,0.0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,Avatar
1,1,1.0,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,Pirates of the Caribbean: At World's End
2,2,2.0,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,Spectre
3,3,3.0,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,The Dark Knight Rises
4,4,4.0,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,Star Wars: Episode VII - The Force Awakens ...

In [13]:
data.shape

(6616, 8)

In [14]:
data.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1,inplace=True)

In [15]:
data.isnull().sum()

director_name     4
actor_1_name     22
actor_2_name     55
actor_3_name     70
genres            7
movie_title       0
dtype: int64

In [16]:
data.shape

(6616, 6)

In [17]:
data.dropna(axis=0,inplace=True)

In [18]:
data.shape

(6543, 6)

In [19]:
data.columns

Index(['director_name', 'actor_1_name', 'actor_2_name', 'actor_3_name',
       'genres', 'movie_title'],
      dtype='object')

In [20]:
data['comb'] = data['actor_1_name'] + ' '+ data['actor_2_name'] + ' '+ data['actor_3_name'] + ' '+ data['director_name'] + ' '+data['genres']

In [21]:
data.columns

Index(['director_name', 'actor_1_name', 'actor_2_name', 'actor_3_name',
       'genres', 'movie_title', 'comb'],
      dtype='object')

In [24]:
data.to_csv('Movie_main_data_final.csv')

In [25]:
data.loc[0,'comb']

'CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure Fantasy Sci-Fi'

In [26]:
from sklearn.metrics.pairwise import cosine_similarity

In [27]:
from sklearn.feature_extraction.text import CountVectorizer

In [28]:
mat = CountVectorizer()
count_matrix = mat.fit_transform(data['comb'])
similarity = cosine_similarity(count_matrix)

In [29]:
similarity.shape

(6543, 6543)

In [30]:
similarity

array([[1.        , 0.24174689, 0.16116459, ..., 0.        , 0.        ,
        0.0805823 ],
       [0.24174689, 1.        , 0.18181818, ..., 0.        , 0.        ,
        0.09090909],
       [0.16116459, 0.18181818, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.10540926,
        0.09534626],
       [0.        , 0.        , 0.        , ..., 0.10540926, 1.        ,
        0.10050378],
       [0.0805823 , 0.09090909, 0.        , ..., 0.09534626, 0.10050378,
        1.        ]])

In [31]:
x = similarity[data[data['movie_title']=='The Dark Knight Rises'].index].shape

In [33]:
x

(1, 6543)

In [34]:
b = data[data['movie_title']=='The Dark Knight Rises'].index[0]

In [35]:
lst = list(enumerate(similarity[b]))
lst = sorted(lst, key = lambda x:x[1] ,reverse=True)
lst = lst[1:11] # excluding first item since it is the requested movie itself
l = []
for i in range(len(lst)):
    a = lst[i][0]
    l.append(data['movie_title'][a])

l

['Inception',
 'The Dark Knight',
 'Batman Begins',
 'Sin City: A Dame to Kill For',
 'Premium Rush',
 'The Prestige',
 'RocknRolla',
 'Don Jon',
 'G.I. Joe: The Rise of Cobra',
 'Miracle at St. Anna']

In [42]:
import pickle

In [43]:
pickle.dump(similarity,open('cosine_similarity.pkl','wb'))

In [40]:
nparray = pickle.load(open('cosine_similarity.pkl','rb'))

In [41]:
nparray[b]

array([0.0805823 , 0.09090909, 0.18181818, ..., 0.09534626, 0.        ,
       0.        ])