In [1]:
from tmdbv3api import TMDb

In [2]:
import json
import requests
tmdb = TMDb()
tmdb.api_key = 'Your API Key'

In [3]:
from tmdbv3api import Movie
tmdb_movie = Movie()
result = tmdb_movie.search("The Grudge")

In [4]:
movie_id = result[0].id
response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
data_json = response.json()
data_json

{'adult': False,
 'backdrop_path': '/e8nfiNRrcUfebNLPKtR6dzgV1M1.jpg',
 'belongs_to_collection': {'id': 1974,
  'name': 'The Grudge Collection',
  'poster_path': '/dohOSIYDEK42stdfKo0pQfrve0h.jpg',
  'backdrop_path': '/u0fckWIveOOUM9BX0I5puGSR2Wi.jpg'},
 'budget': 10000000,
 'genres': [{'id': 27, 'name': 'Horror'},
  {'id': 9648, 'name': 'Mystery'},
  {'id': 53, 'name': 'Thriller'}],
 'homepage': '',
 'id': 1970,
 'imdb_id': 'tt0391198',
 'original_language': 'en',
 'original_title': 'The Grudge',
 'overview': 'An American nurse living and working in Tokyo is exposed to a mysterious supernatural curse, one that locks a person in a powerful rage before claiming their life and spreading to another victim.',
 'popularity': 58.527,
 'poster_path': '/epllysIxLE4KRIXz49xHbwewvuE.jpg',
 'production_companies': [{'id': 5,
   'logo_path': '/71BqEFAF4V3qjjMPCpLuyJFB9A.png',
   'name': 'Columbia Pictures',
   'origin_country': 'US'},
  {'id': 768,
   'logo_path': None,
   'name': 'Ghost House Pictures',
   'origin_country': 'US'},
  {'id': 829,
   'logo_path': '/mzpAmEQ5P1gFvdRoNyCk9q8ngiv.png',
   'name': 'Vertigo Entertainment',
   'origin_country': 'US'},
  {'id': 830,
   'logo_path': None,
   'name': 'Senator International',
   'origin_country': ''},
  {'id': 4710,
   'logo_path': None,
   'name': 'Fellah Pictures',
   'origin_country': ''}],
 'production_countries': [{'iso_3166_1': 'JP', 'name': 'Japan'},
  {'iso_3166_1': 'US', 'name': 'United States of America'}],
 'release_date': '2004-10-22',
 'revenue': 183474602,
 'runtime': 92,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Japanese', 'iso_639_1': 'ja', 'name': '日本語'}],
 'status': 'Released',
 'tagline': 'It never forgives. It never forgets.',
 'title': 'The Grudge',
 'video': False,
 'vote_average': 5.9,
 'vote_count': 2421}

In [5]:
data_json['genres'][0]

{'id': 27, 'name': 'Horror'}

In [6]:
data_json['genres'][0]['name']

'Horror'

In [7]:
URL="https://en.wikipedia.org/wiki/List_of_American_films_of_2019"

In [8]:
import bs4 as bs
import requests

In [9]:
url_link = requests.get(URL)

In [10]:
import urllib.request

In [11]:
import lxml

In [12]:
source=urllib.request.urlopen(URL).read()

In [13]:
file = bs.BeautifulSoup(url_link.text,'html.parser')

In [14]:
for table in file.find_all('table'):
    print(table.get('class'))

['sidebar', 'nomobile', 'nowraplinks', 'collapsible', 'collapsed']
['wikitable']
['wikitable', 'sortable']
['wikitable', 'sortable']
['wikitable', 'sortable']
['wikitable', 'sortable']
['nowraplinks', 'mw-collapsible', 'open', 'navbox-inner']
['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner']
['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner']
['nowraplinks', 'navbox-subgroup']
['nowraplinks', 'navbox-subgroup']
['nowraplinks', 'navbox-subgroup']
['nowraplinks', 'navbox-subgroup']

In [15]:
tables = file.find_all('table', class_='wikitable sortable')

In [16]:
##import bs4.builder.htmlparser
###import bs4.builder._lxml
###import bs4.builder._html5lib

In [17]:
len(tables)

4

In [18]:
import pandas as pd
import numpy as np

In [19]:
df1 = pd.read_html(str(tables[0]))[0]
df2 = pd.read_html(str(tables[1]))[0]
df3 = pd.read_html(str(tables[2]))[0]
df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0] # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [20]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [23]:
df1.shape

(49, 6)

In [24]:
df_2019 = df[['Title','Cast and crew']]

In [25]:
df_2019.head()

              Title                                      Cast and crew
0       Escape Room  Adam Robitel (director); Bragi F. Schut, Maria...
1        Rust Creek  Jen McGowan (director); Julie Lipson (screenpl...
2  American Hangman  Wilson Coneybeare (director/screenplay); Donal...
3  A Dog's Way Home  Charles Martin Smith (director); W. Bruce Came...
4        The Upside  Neil Burger (director); Jon Hartmere (screenpl...

In [26]:
def get_genre(x):
    result = tmdb_movie.search(x)
    if not result:
        return np.NaN
    else:
        movie_id = result[0].id
        response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
        data_json = response.json()
        genre = []
        for i in range(len(data_json['genres'])):
            genre.append(data_json['genres'][i]['name'])
        gen = ' '.join(genre)
        return gen

In [27]:
df_2019['genres'] = df_2019['Title'].map(lambda x : get_genre(x))

C:\Users\nitisha.reddy\.conda\envs\py3-TF2.0\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
df_2019['genres'].shape

(242,)

In [29]:
len(data_json['genres'])

3

In [30]:
df_2019['genres']

0                       Horror Thriller Mystery
1                                Thriller Drama
2                                      Thriller
3                        Drama Adventure Family
4                                  Comedy Drama
                         ...
237    Animation Action Adventure Comedy Family
238                               Drama Romance
239           War Drama Action Thriller History
240                         Drama Crime History
241                                       Drama
Name: genres, Length: 242, dtype: object

In [31]:
type(df_2019.loc[0,'Cast and crew'])

str

In [32]:
def get_director(x):
    return x.split(' (')[0]

In [33]:
df_2019['director'] = df_2019['Cast and crew'].map(lambda x: get_director(x))

C:\Users\nitisha.reddy\.conda\envs\py3-TF2.0\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
df_2019['director']

0                Adam Robitel
1                 Jen McGowan
2           Wilson Coneybeare
3        Charles Martin Smith
4                 Neil Burger
                ...
237    Nick Bruno, Troy Quane
238              Greta Gerwig
239                Sam Mendes
240     Destin Daniel Cretton
241           Chinonye Chukwu
Name: director, Length: 242, dtype: object

In [35]:
def get_actor1(x):
    return (x.split("screenplay); ")[-1]).split(", ")[0]

In [36]:
df_2019['actor_1'] = df_2019['Cast and crew'].map(lambda x: get_actor1(x))

C:\Users\nitisha.reddy\.conda\envs\py3-TF2.0\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [37]:
df_2019['actor_1']

0           Taylor Russell
1        Hermione Corfield
2        Donald Sutherland
3      Bryce Dallas Howard
4           Bryan Cranston
              ...
237             Will Smith
238          Saoirse Ronan
239          George MacKay
240      Michael B. Jordan
241          Alfre Woodard
Name: actor_1, Length: 242, dtype: object

In [38]:
df_2019.loc[0,'Cast and crew'].split("screenplay); ")[-1].split(", ")[0]

'Taylor Russell'

In [39]:
df_2019.to_csv('2019_movie.csv')

In [40]:
def get_actor2(x):
    if len(x.split("screenplay); ")[-1].split(", "))<2:
        return np.nan
    else:
        return x.split("screenplay); ")[-1].split(", ")[1]

In [41]:
df_2019['actor_2'] = df_2019['Cast and crew'].map(lambda x: get_actor2(x))

In [42]:
df_2019['actor_2']

0              Logan Miller
1               Jay Paulson
2        Vincent Kartheiser
3        Edward James Olmos
4                Kevin Hart
               ...
237             Tom Holland
238             Emma Watson
239    Dean-Charles Chapman
240              Jamie Foxx
241          Wendell Pierce
Name: actor_2, Length: 242, dtype: object

In [43]:
def get_actor3(x):
    if len(x.split("screenplay); ")[-1].split(", "))<3:
        return np.nan
    else:
        return x.split("screenplay); ")[-1].split(", ")[2]

In [44]:
df_2019['actor_3'] = df_2019['Cast and crew'].map(lambda x: get_actor3(x))

In [45]:
df_2019['actor_3']

0      Deborah Ann Woll
1          Sean O'Bryan
2         Oliver Dennis
3       Alexandra Shipp
4         Nicole Kidman
             ...
237       Rashida Jones
238       Florence Pugh
239         Mark Strong
240         Brie Larson
241         Aldis Hodge
Name: actor_3, Length: 242, dtype: object

In [46]:
df_2019.to_csv('2019_final.csv')