In [62]:
from tmdbv3api import TMDb

In [63]:
import json
import requests
tmdb = TMDb()
tmdb.api_key = 'Your API Key'

In [64]:
from tmdbv3api import Movie
tmdb_movie = Movie()
result = tmdb_movie.search("The Grudge")

In [65]:
movie_id = result[0].id
response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
data_json = response.json()
data_json

{'adult': False,
 'backdrop_path': '/e8nfiNRrcUfebNLPKtR6dzgV1M1.jpg',
 'belongs_to_collection': {'id': 1974,
  'name': 'The Grudge Collection',
  'poster_path': '/dohOSIYDEK42stdfKo0pQfrve0h.jpg',
  'backdrop_path': '/u0fckWIveOOUM9BX0I5puGSR2Wi.jpg'},
 'budget': 10000000,
 'genres': [{'id': 27, 'name': 'Horror'},
  {'id': 9648, 'name': 'Mystery'},
  {'id': 53, 'name': 'Thriller'}],
 'homepage': '',
 'id': 1970,
 'imdb_id': 'tt0391198',
 'original_language': 'en',
 'original_title': 'The Grudge',
 'overview': 'An American nurse living and working in Tokyo is exposed to a mysterious supernatural curse, one that locks a person in a powerful rage before claiming their life and spreading to another victim.',
 'popularity': 58.527,
 'poster_path': '/epllysIxLE4KRIXz49xHbwewvuE.jpg',
 'production_companies': [{'id': 5,
   'logo_path': '/71BqEFAF4V3qjjMPCpLuyJFB9A.png',
   'name': 'Columbia Pictures',
   'origin_country': 'US'},
  {'id': 768,
   'logo_path': None,
   'name': 'Ghost House Pictures',
   'origin_country': 'US'},
  {'id': 829,
   'logo_path': '/mzpAmEQ5P1gFvdRoNyCk9q8ngiv.png',
   'name': 'Vertigo Entertainment',
   'origin_country': 'US'},
  {'id': 830,
   'logo_path': None,
   'name': 'Senator International',
   'origin_country': ''},
  {'id': 4710,
   'logo_path': None,
   'name': 'Fellah Pictures',
   'origin_country': ''}],
 'production_countries': [{'iso_3166_1': 'JP', 'name': 'Japan'},
  {'iso_3166_1': 'US', 'name': 'United States of America'}],
 'release_date': '2004-10-22',
 'revenue': 183474602,
 'runtime': 92,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Japanese', 'iso_639_1': 'ja', 'name': '日本語'}],
 'status': 'Released',
 'tagline': 'It never forgives. It never forgets.',
 'title': 'The Grudge',
 'video': False,
 'vote_average': 5.9,
 'vote_count': 2421}

In [66]:
data_json['genres'][0]

{'id': 27, 'name': 'Horror'}

In [67]:
data_json['genres'][0]['name']

'Horror'

In [68]:
URL="https://en.wikipedia.org/wiki/List_of_American_films_of_2021"

In [69]:
import bs4 as bs
import requests

In [70]:
url_link = requests.get(URL)

In [71]:
import urllib.request

In [72]:
import lxml

In [73]:
source=urllib.request.urlopen(URL).read()

In [74]:
file = bs.BeautifulSoup(url_link.text,'html.parser')

In [75]:
for table in file.find_all('table'):
    print(table.get('class'))

['sidebar', 'nomobile', 'nowraplinks', 'collapsible', 'collapsed']
['wikidiv']
['wikitable']
['wikitable', 'sortable']
['wikitable', 'sortable']
['wikitable', 'sortable']
['wikitable', 'sortable']
['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner']
['nowraplinks', 'mw-collapsible', 'open', 'navbox-inner']
['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner']
['nowraplinks', 'navbox-subgroup']
['nowraplinks', 'navbox-subgroup']
['nowraplinks', 'navbox-subgroup']
['nowraplinks', 'navbox-subgroup']

In [76]:
tables = file.find_all('table', class_='wikitable sortable')

In [77]:
##import bs4.builder.htmlparser
###import bs4.builder._lxml
###import bs4.builder._html5lib

In [78]:
len(tables)

4

In [79]:
import pandas as pd
import numpy as np

In [80]:
df1 = pd.read_html(str(tables[0]))[0]
df2 = pd.read_html(str(tables[1]))[0]
df3 = pd.read_html(str(tables[2]))[0]
df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0] # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [81]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [82]:
df1.shape

(66, 6)

In [83]:
df_2021 = df[['Title','Cast and crew']]

In [84]:
df_2021.head()

                 Title                                      Cast and crew
0  Shadow in the Cloud  Roseanne Liang (director/screenplay); Max Land...
1      The White Tiger  Ramin Bahrani (director/screenplay); Adarsh Go...
2          Locked Down  Doug Liman (director); Steven Knight (screenpl...
3              The Dig  Simon Stone (director); Moira Buffini (screenp...
4     Outside the Wire  Mikael Håfström (director); Rob Yescombe, Rowa...

In [85]:
def get_genre(x):
    result = tmdb_movie.search(x)
    if not result:
        return np.NaN
    else:
        movie_id = result[0].id
        response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
        data_json = response.json()
        genre = []
        for i in range(len(data_json['genres'])):
            genre.append(data_json['genres'][i]['name'])
        gen = ' '.join(genre)
        return gen

In [86]:
df_2021['genres'] = df_2021['Title'].map(lambda x : get_genre(str(x)))

C:\Users\nitisha.reddy\.conda\envs\py3-TF2.0\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [87]:
df_2021['genres'].shape

(358,)

In [88]:
len(data_json['genres'])

3

In [89]:
df_2021['genres']

0                    Horror Action War
1                                Drama
2                   Comedy Crime Drama
3                        Drama History
4      Thriller Action Science Fiction
                    ...
353                          Drama War
354                      Drama Romance
355                              Drama
356              Drama Fantasy Mystery
357                             Comedy
Name: genres, Length: 358, dtype: object

In [90]:
type(df_2021.loc[0,'Cast and crew'])

str

In [91]:
def get_director(x):
    return x.split(' (')[0]

In [92]:
df_2021['director'] = df_2021['Cast and crew'].map(lambda x: get_director(str(x)))

C:\Users\nitisha.reddy\.conda\envs\py3-TF2.0\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [93]:
df_2021['director']

0                 Roseanne Liang
1                  Ramin Bahrani
2                     Doug Liman
3                    Simon Stone
4                Mikael Håfström
                 ...
353                    Joel Coen
354            Denzel Washington
355               Erwin brothers
356    Apichatpong Weerasethakul
357                          nan
Name: director, Length: 358, dtype: object

In [94]:
def get_actor1(x):
    if "screenplay" not in x:
        if len(x.split(";")[-1].split(", "))<1:
            return np.nan
        else:
            return x.split(";")[-1].split(", ")[0]
    else:    
        if len(x.split("screenplay); ")[-1].split(", "))<1:
            return np.nan
        else:
            return x.split("screenplay); ")[-1].split(", ")[0]

In [95]:
df_2021['actor_1'] = df_2021['Cast and crew'].map(lambda x: get_actor1(str(x)))

C:\Users\nitisha.reddy\.conda\envs\py3-TF2.0\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [96]:
df_2021['actor_1']

0      Chloë Grace Moretz
1           Adarsh Gourav
2           Anne Hathaway
3          Carey Mulligan
4          Anthony Mackie
              ...
353     Denzel Washington
354     Michael B. Jordan
355          Zachary Levi
356         Tilda Swinton
357                   nan
Name: actor_1, Length: 358, dtype: object

In [97]:
df_2021.loc[0,'Cast and crew'].split("screenplay); ")[-1].split(", ")[0]

'Chloë Grace Moretz'

In [98]:
df_2021.to_csv('2021_movie.csv')

In [99]:
def get_actor2(x):
    if "screenplay" not in x:
        if len(x.split(";")[-1].split(", "))<2:
            return np.nan
        else:
            return x.split(";")[-1].split(", ")[1]
    else:    
        if len(x.split("screenplay); ")[-1].split(", "))<2:
            return np.nan
        else:
            return x.split("screenplay); ")[-1].split(", ")[1]

In [100]:
df_2021['actor_2'] = df_2021['Cast and crew'].map(lambda x: get_actor2(str(x)))

C:\Users\nitisha.reddy\.conda\envs\py3-TF2.0\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [101]:
df_2021['actor_2']

0      Taylor John Smith
1          Rajkummar Rao
2       Chiwetel Ejiofor
3          Ralph Fiennes
4           Damson Idris
             ...
353    Frances McDormand
354         Chanté Adams
355          Anna Paquin
356           Elkin Díaz
357                  NaN
Name: actor_2, Length: 358, dtype: object

In [115]:
def get_actor3(x):
    if "screenplay" not in x:
        if len(x.split(";")[-1].split(", "))<3:
            return np.nan
        else:
            return x.split(";")[-1].split(", ")[2]
    else:    
        if len(x.split("screenplay); ")[-1].split(", "))<3:
            return np.nan
        else:
            return x.split("screenplay); ")[-1].split(", ")[2]

In [116]:
df_2021['actor_3'] = df_2021['Cast and crew'].map(lambda x: get_actor3(str(x)))

In [117]:
df_2021['actor_3']

0               Beulah Koale
1      Priyanka Chopra Jonas
2           Stephen Merchant
3                 Lily James
4              Emily Beecham
               ...
353            Bertie Carvel
354          Jalon Christian
355             Dennis Quaid
356           Jeanne Balibar
357                      NaN
Name: actor_3, Length: 358, dtype: object

In [118]:
df_2021.to_csv('2021_final.csv')

In [128]:
d1 = pd.read_csv('2020_final.csv')
d2 = pd.read_csv('2019_final.csv')
d3 = pd.read_csv('2018_final.csv')
d4 = pd.read_csv('2021_final.csv')

In [129]:
df_new = d1.append(d2.append(d3.append(d4,ignore_index=True),ignore_index=True),ignore_index=True)

In [130]:
df_new.head()

,Unnamed: 0,Title,Cast and crew,genres,director,actor_1,actor_2,actor_3
0,0,The Grudge,Nicolas Pesce (director/screenplay); Andrea Ri...,Horror Mystery Thriller,Nicolas Pesce,Andrea Riseborough,Demián Bichir,John Cho
1,1,Underwater,"William Eubank (director); Brian Duffield, Ada...",Action Horror Science Fiction Thriller,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick
2,2,Like a Boss,"Miguel Arteta (director); Sam Pitman, Adam Col...",Comedy,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek
3,3,Three Christs,Jon Avnet (director/screenplay); Eric Nazarian...,Drama,Jon Avnet,Richard Gere,Peter Dinklage,Walton Goggins
4,4,Inherit the Viper,Anthony Jerjen (director); Andrew Crabtree (sc...,Crime Thriller Drama,Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs

In [131]:
df_new.drop('Cast and crew',axis=1,inplace = True)

In [132]:
df_new.drop('Unnamed: 0',axis=1,inplace=True)

In [133]:
df_new.head()

,Title,genres,director,actor_1,actor_2,actor_3
0,The Grudge,Horror Mystery Thriller,Nicolas Pesce,Andrea Riseborough,Demián Bichir,John Cho
1,Underwater,Action Horror Science Fiction Thriller,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick
2,Like a Boss,Comedy,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek
3,Three Christs,Drama,Jon Avnet,Richard Gere,Peter Dinklage,Walton Goggins
4,Inherit the Viper,Crime Thriller Drama,Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs

In [134]:
df_new.isnull().sum()

Title        1
genres       5
director     1
actor_1      1
actor_2     25
actor_3     95
dtype: int64

In [135]:
df_new.shape

(1147, 6)

In [136]:
df_new[df_new['actor_3'].isnull()]

,Title,genres,director,actor_1,actor_2,actor_3
16,The Assistant,Drama,Kitty Green,Julia Garner,Matthew Macfadyen,NaN
36,Wendy,Fantasy Adventure Drama,Benh Zeitlin,Tommie Lynn Milazzo,Shay Walker,NaN
54,No films had been released on this date as res...,NaN,No films had been released on this date as res...,No films had been released on this date as res...,NaN,NaN
57,Vivarium,Science Fiction Horror Mystery,Lorcan Finnegan,Imogen Poots,Jesse Eisenberg,NaN
83,Survive the Night,Action Thriller,Matt Eskandari,Bruce Willis,Chad Michael Murray,NaN
...,...,...,...,...,...,...
1073,The Velvet Underground,Documentary Music,Todd Haynes,The Velvet Underground,NaN,NaN
1093,Finch,Science Fiction Drama Adventure,Miguel Sapochnik,Tom Hanks,Caleb Landry Jones,NaN
1101,Apex,Action Thriller Science Fiction,Edward John Drake,Neal McDonough,Bruce Willis,NaN
1110,Zeros and Ones,War Thriller,Abel Ferrara,Ethan Hawke,Valerio Mastandrea,NaN
1146,NaN,Comedy,NaN,NaN,NaN,NaN

In [137]:
df_new.dropna(axis=0,inplace=True)

In [138]:
df_new.shape

(1048, 6)

In [139]:
df_new.to_csv('api_data_final.csv')